.wrapper {
  background-color: #E7DFCC;
  padding: 20px;
  border-radius: 10px;
  min-height: 90vh;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 20px;
    border-radius: 0;
    margin-top: 0;
    height: initial;
  }

  body {
    background-color: #E7DFCC;
  }

  .navbar-light .navbar-toggler {
    background-color: #FBB017;
  }
}
