<div class="discount">
  <div style="font-size: 1.5rem; color: #252328; background-color: #E4A219; padding: 10px; border-top-left-radius: 5px;border-top-right-radius: 5px;">
    Promoção Pizza
  </div>
  <figure class="m-0">
    <img src="../../../assets/images/pizza-fatiada.jpg" class="img-fluid" alt="Pizza fatiada">
  </figure>
  <div class="rodape" style="background-color: #E4A219;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; padding: 5px; text-align: center; ">
    A partir de R$ 20
  </div>
</div>
