.homecontent {
  margin-top: 1rem;
  padding-right: 1rem;
}

.pedido-texto {
  background-color: #2B2B2D;
  color: white;
  font-size: 2rem;
  padding: 20px;
  background-image: url("../../../assets/images/bg_black_red2.png");
  background-repeat: repeat-x;
  background-position: top right;
  padding-top: 160px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-pizzaria {
  background-color: #FBB017;
}

a.btn .bi-cart2 {
  display: none;
}

a.btn:hover .bi-cart2 {
  display: inline-block;
}

.capa img {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
