.card {
  width: 250px;
  background-color: #E7DFCC;
  margin-bottom: 1rem;
}

.wrapper-list-pizzas {
  justify-content: space-between;
}

.btn-pizzaria {
  background-color: #FBB017;
  padding-right: 30px;
}

.form-check {
  display: inline-block;
  margin-left: 2em;
}

.card-footer {
  display: flex;
  justify-content: space-around;
}
