<div class="banner">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="../assets/images/logo_landscape.png" width="150" height="60" alt="Logo Pizzaria Barreta">
        {{client.firstname | uppercase}} {{client.lastname | uppercase}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/seuperfil" routerLinkActive="active">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/seuspedidos" routerLinkActive="active" tabindex="-1" aria-disabled="true">Seus pedidos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin (teste)
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item">
                <a class="nav-link" routerLink="/register-client" routerLinkActive="active" tabindex="-1" >Cadastrar novo cliente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/clients" routerLinkActive="active" tabindex="-1" >Lstar clientes</a>
              </li>
            </ul>
          </li>
          <li class="nav-item d-flex">
            <a class="nav-link logout" href="#" tabindex="-1"><i class="bi bi-box-arrow-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
